.rain1 {
  background-image: url("../img/backgrounds/rain1.jpg");
}
.rain2 {
  background-image: url("../img/backgrounds/rain2.jpg");
}
.rain3 {
  background-image: url("../img/backgrounds/rain3.jpg");
}

.clouds1 {
  background-image: url("../img/backgrounds/clouds1.jpg");
}
.clouds2 {
  background-image: url("../img/backgrounds/clouds2.jpg");
}
.clouds3 {
  background-image: url("../img/backgrounds/clouds3.jpg");
}
.clouds4 {
  background-image: url("../img/backgrounds/clouds4.jpg");
}
.clouds5 {
  background-image: url("../img/backgrounds/clouds5.jpg");
}

.clear1 {
  background-image: url("../img/backgrounds/clear1.jpg");
}
.clear2 {
  background-image: url("../img/backgrounds/clear2.jpg");
}
.clear3 {
  background-image: url("../img/backgrounds/clear3.jpg");
}

.fog1 {
  background-image: url("../img/backgrounds/fog1.jpg");
}
.fog2 {
  background-image: url("../img/backgrounds/fog2.jpg");
}

.thunderstorm2 {
  background-image: url("../img/backgrounds/thunderstorm2.jpg");
}
.thunderstorm1 {
  background-image: url("../img/backgrounds/thunderstorm1.jpg");
}
.thunderstorm3 {
  background-image: url("../img/backgrounds/thunderstorm3.jpg");
}
.thunderstorm3 .temp {
  color: white;
}

.snow {
  background-image: url("../img/backgrounds/snow.jpg");
}
