.rain1 {
  background-image: url("../img/rain1.jpg");
}
.rain2 {
  background-image: url("../img/rain2.jpg");
}
.rain3 {
  background-image: url("../img/rain3.jpg");
}

.clouds1 {
  background-image: url("../img/clouds1.jpg");
}
.clouds2 {
  background-image: url("../img/clouds2.jpg");
}
.clouds3 {
  background-image: url("../img/clouds3.jpg");
}
.clouds4 {
  background-image: url("../img/clouds4.jpg");
}
.clouds5 {
  background-image: url("../img/clouds5.jpg");
}

.clear1 {
  background-image: url("../img/clear1.jpg");
}
.clear2 {
  background-image: url("../img/clear2.jpg");
}
.clear3 {
  background-image: url("../img/clear3.jpg");
}

.fog1 {
  background-image: url("../img/fog1.jpg");
}
.fog2 {
  background-image: url("../img/fog2.jpg");
}

.thunderstorm2 {
  background-image: url("../img/thunderstorm2.jpg");
}
.thunderstorm1 {
  background-image: url("../img/thunderstorm1.jpg");
}
.thunderstorm3 {
  background-image: url("../img/thunderstorm3.jpg");
}
.thunderstorm3 .temp {
  color: white;
}

.snow {
  background-image: url("../img/snow.jpg");
}
