.footer {
  height: 5vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  .logos {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    .fa {
      font-size: 2rem;
      margin-left: 20px;
    }
  }
}
