.footer {
  height: 7vh;
  color: white;
  width: 100%;
  background: $primary-color;
  .container {
    min-height: 7vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    .logos {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      .fa {
        font-size: 2rem;
        margin-left: 20px;
      }
    }
  }
}
