.search-box {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 2rem auto 4rem auto;
}

.form {
  position: relative;
  min-width: 60%;
  border-radius: 10px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2);

  input {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.6);
    transition: 0.4s ease;
  }

  input:focus {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .clear-btn {
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    color: gray;
    font-size: 2rem;
    height: 39%;
    margin: auto;
    cursor: pointer;
  }
}

.geolocation {
  // background-color: rgb(84, 194, 84);
  margin-left: 10px;
}

// .geolocation:hover {
//   background-color: rgb(96, 222, 96);
// }
