.search-box {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 2rem auto;
}

.form {
  position: relative;
  min-width: 40%;

  // box-shadow: 0 4px rgba(0, 0, 0, 0.2);
  display: flex;
  input {
    width: 100%;
    padding: 16px 24px;
    outline: none;
    border: none;
    font-size: 2rem;
    font-weight: 500;
    background: rgba(white, 0.8);
    transition: 0.4s ease;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  input:focus {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .btn-search {
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: $primary-color;
    color: $secondary-color;
  }
  .clear-btn {
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    color: gray;
    font-size: 2rem;
    height: 39%;
    margin: auto;
    cursor: pointer;
  }
}

.geolocation {
  // background-color: rgb(84, 194, 84);
  margin-left: 10px;
}

// .geolocation:hover {
//   background-color: rgb(96, 222, 96);
// }
