// forecast-section

.forecast-box {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-width: 15%;
  width: auto !important;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.6);

  .date {
    font-size: smaller;
  }
  .temp-box {
    font-weight: 800;
  }
  .text {
    color: $primary-color;
    font-weight: 600;
  }
}

.forecast-box-details {
  display: flex;
  flex-direction: column;
  text-align: left;
}
