.search-box {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 2rem auto 4rem auto;
}

.search-bar {
  min-width: 60%;
  padding: 15px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease;
}

.search-bar:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.geolocation {
  // background-color: rgb(84, 194, 84);
  margin-left: 10px;
}

// .geolocation:hover {
//   background-color: rgb(96, 222, 96);
// }
