// forecast-section

.forecast-box {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-width: 15%;
  width: auto !important;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 3rem;
  background: rgba(white, 0.8);

  .date {
    font-size: smaller;
    font-weight: 800;
  }
  .temp-box {
    font-weight: 800;
    background: $primary-color;
    color: white;
    padding: 2rem;
    border-radius: 1rem;
  }
  .text {
    color: $primary-color;
    font-weight: bold;
    font-size: 2.3rem;
  }
}

.forecast-box-details {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.forecast-box .icon {
  width: 64px;
}
