@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

$primary-color: #2c5093;
$secondary-color: white;
$text-color: black;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: url("../img/backgrounds/blue.jpg");
  color: $text-color;
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  font-size: 4rem;
  color: $secondary-color;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  // color: $text-color;
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  border: 0;
  background: $secondary-color;
  color: #fff;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.6rem;
  outline: none;
  cursor: pointer;
  @include easeOut;
}

.primary {
  background-color: $primary-color;
}

.secondary {
  background-color: lighten($secondary-color, 20%);
}

.btn:hover {
  transform: scale(1.05);
  background: $primary-color;
}

.btn-container {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.primary-text {
  color: $primary-color;
}

.secondary-text {
  color: $secondary-color;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
