.current-weather-section {
}

.location-box {
  color: white;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 500;
  text-shadow: 3px 3px rgba(33, 33, 41, 0.5);
}

.date-box {
  flex-direction: column;
  color: white;
  margin-bottom: 5rem;
}

// .date-box .date {
//   margin-bottom: 0;
//   font-size: 2rem;
//   color: $primary-color;
//   font-weight: 500;
//   // font-style: italic;
//   // text-shadow: 2px 2px rgba(33, 33, 41, 0.5);
// }

.date-box .time,
.date {
  margin-top: 10px;
  font-weight: 500;
  font-style: bold;
  text-shadow: none;
  font-size: 2rem;
  color: $primary-color;
}

.info-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  text-align: center;
  grid-gap: 1rem;
  padding: 2rem;
  background: rgba(white, 0.5);
  border-radius: 10px;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }
  h2 {
    display: none;
  }

  .info-temp-box {
    .temp-box {
      text-align: center;
      display: inline-block;
      padding: 1rem 3rem;
      margin-bottom: 1rem;
      font-weight: 500;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 15px;
      box-shadow: 3px 6px rgba(33, 33, 41, 0.5);

      .temp {
        font-size: 2.5rem;
        margin: 10px;
      }

      .feels-like {
        font-style: italic;
        font-size: 1.5rem;
      }
    }

    .temp-variation {
      display: flex;
      justify-content: center;
      padding: 1rem;
      margin: 1rem;
      font-size: 2rem;
      font-weight: bold;
      p {
        margin: 0 1rem;
      }
    }
  }

  .info-main-box {
    align-self: center;
    justify-content: center;

    .current-weather {
      font-size: 4rem;
      color: $primary-color;
    }
  }
}
