.webcams-list {
  margin: 2rem auto;

  .webcam-card {
    height: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 1px 1px 5px grey;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.5);

    .video {
      width: 100%;
      border-radius: 10px;
    }

    .title {
      padding: 0.5rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: $primary-color;
    }

    .city {
      font-size: 1rem;
      font-weight: 600;
      font-style: italic;
      color: white;
      padding: 10px 0;
      border-radius: 10px;
      margin: 10px 40px;
      background-color: $primary-color;
    }

    .region {
      font-size: 1.2rem;
      font-weight: 700;
      font-style: italic;
      color: black;
      margin: 0 auto;
      font-style: italic;
    }
  }
}

/* @media (max-width: 785px){
    .card  {
      display: inline-block;
    }
    .card--img {
      margin: 0 auto;
      height: 400px
    }
    .card--content {
      margin-left: 0px;
    }
    .card--title {
      margin-top: 20px;
      font-size: 2.5rem;
      text-align: center;
    }
  } */
